* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    display: grid;
    background-image: url("bg-images/black-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 15.5rem;
}

/* CSS OF NAVIGATION BAR SECTION */
nav {
    position: sticky;
    top: 0%;
    background: #4B443E;
    height: 80px;
    width: 100%;
}

label.logo {
    color: #F6F0DB;
    font-size: 30px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
    font-weight: bold;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: #F6F0DB;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active, a:hover {
    background: #928875;
    transition: .5s;
}


/* This is image css of menu banner  */
.banner {
    display: inline;
    width: 100%;
    height: 80%;
}

/* CSS OF MAIN CONTANT SECTION */

/* This is title css of brekfast heading*/

.title1 {
    margin: 30px 0px;
    border: 5px solid #3b3834;
    background-color: #B19167;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    font-weight: bold;
}

/* This is title css of lunch heading*/
.title2 {
    margin: 30px 0px;
    border: 5px solid #3b3834;
    background-color: #B19167;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    font-weight: bold;
}

/* This is title css of dinner heading*/
.title3 {
    margin: 30px 0px;
    border: 5px solid #3b3834;
    background-color: #B19167;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    font-weight: bold;
}


/* This is css of menu class*/
.menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 10px;
    background: linear-gradient(to right, #a19664, #4B443E, #f08f3b);
}

/* This is css of menu-items class */
.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/* This is css of menu-items child means img */
.menu-item img {
    width: 250px;
    height: 200px;
    box-shadow: 0px 0px 20px 5px rgb(216, 201, 113);
    border-radius: 15px;
}

/* This is css of button */
button {

    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
    width: 200px;
    height: 42px;
    border: 5px solid #0a0a0a;
    background-color: #a77934;
    color: #ffffff;
    margin: 30px 50px;
    padding: 1px 0px;
    cursor: pointer;
    border-radius: 20px;
    transition: .2s;
}

/* This is css of hover button */
button:hover {

    background-color: #978a0f;
    transform: scale(1.3);

}

/* FOOTER SECTION CSS */
footer {
    background-color: rgb(107, 87, 87);
    width: 100%;
    padding: 70px 30px 20px;
    position: absolute;
    bottom: 0;

}

.social-icon {
    display: flex;
    justify-content: center;
}

.social-icon a {
    text-decoration: none;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    border-radius: 50%;
}

.social-icon a:hover {
    background-color: rgb(0, 0, 0);
    transition: 0.5;
}

.fa {
  
    color: rgb(59, 61, 77);
}

.fa:hover {
    color: rgb(235, 87, 19);
    transition: 0.5;
}

.footerbottom {
    margin: 10px;
    padding: 10px;
    font-size: large;
    text-align: center;
    display: grid;
    gap: 10px;
    color: aliceblue;
}

.copy {
    font-weight: bold;
}

.designer {
    font-weight: bolder;
}